.main-nav .navbar-nav .nav-item .nav-link {
    &::first-letter {
        // capitalize on whole string makes "about us" to "About Us". We want "About us"
        text-transform: uppercase;
    }
    &.language-switch {
        font-size: 1.4em;
        transform: translateY(-.2em);
    }
}

img[src="/images/google-translate.png"] {
    height: 1.2em;
}
